<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<form method="post" action="" class="navy">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control"   id="name" name="keyword" required>
    </div>
    <div class="form-group">
        <label for="pwd">Year:</label>
        <input type="year" class="form-control" name="year" id="" >
    </div>
    <div class="form-group">
        <label for="">Type:</label>
        <input type="type" class="form-control" name="type" id="" >
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

<!--twig-->


    <div id="products" class="row list-group">
        {% for data in datas %}
            <div class="item col-xs-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <h4 class="group inner list-group-item-heading">
                        {{ data.Title }}
                    </h4>
                    <div class="movie-img">
                        <img class="group list-group-image" src="{{ data.Poster }}" alt="{{ data.Title }}"/>
                    </div>
                    <div class="caption">

                        <div class="group inner list-group-item-heading">
                            {{ data.Year }}
                        </div>
                        <div class="group inner list-group-item-heading">
                            {{ data.Type }}
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="group inner list-group-item-heading">
                                    {{ data.imdbID }}
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="http://www.jquery2dotnet.com">
                                    More information
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>