<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/head.html.twig') }}
</head>

<body>
<div class="container-fluid">
    <header>
        {{ include('partial/header.html.twig') }}
    </header>

    <main>
        {{ include('home.html.twig') }}
    </main>

    <footer>
        {{ include('partial/footer.html.twig') }}
    </footer>
</div>

{{ include('partial/foot.html.twig') }}

</body>
</html>